@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("./images/splash.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}